::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(236, 236, 236);
}

.container {
  display: flex;
  flex-direction: column;
  position: right;
  width: 100;
  height: 50px;
  background: #fffefe;
  margin: 1px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-onglets {
  display: flex;
}
.tabs {
  padding: 10px;
  text-align: center;
  width: 10%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(238, 187, 187, 0.274);
}

.active-tabs {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(216, 223, 238);
}

button {
  border: none;
}
.contenu-onglets {
  flex-grow: 1;
}
.contenu {
  background: white;
  padding: 20px;
  width: 100%;
  height: 50%;
  display: none;
}
.contenu h2 {
  padding: 0px 0 5px 0px;
}
.contenu hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.contenu p {
  width: 50%;
  height: 50%;
}
.active-contenu {
  display: block;
}
