::before,
::after {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: column;
  position: static;
  width: 500rem;
  height: 60px;
  background: #ffffff;
  margin: 1px auto 0;
  word-break: break-all;
  border: 1px rgba(0, 0, 0, 0.274);
}

.bloc-onglets {
  display: flex;
}
.tabs {
  padding: 10px;
  text-align: center;
  width: 11.5rem;
  background: rgba(255, 255, 255, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(66, 65, 65, 0.274);
  box-sizing: content-box;
  position: static;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.137);
}

.active-tabs {
  background: rgb(245, 247, 247);
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 2px;
  background: rgb(255, 255, 255);
}

button {
  border: none;
}
.contenu-onglets {
  flex-grow: 1;
}
.contenu {
  background: rgb(255, 255, 255);
  padding: 25px;
  width: 100%;

  display: none;
}
.Todo {
  display: flex;
  width: 51rem;
  border-style: groove;
  margin-top: -25px;
  margin-left: -25px;
  border-top-style: hidden;
  background: rgb(245, 247, 247);
  height: 150px;
}
.sales {
  display: flex;
  width: 51rem;
  border-style: groove;
  margin-top: -25px;
  margin-left: -25px;
  border-top-style: hidden;
  background: rgb(245, 247, 247);
  height: 150px;
}
.visitor {
  display: flex;
  width: 51rem;
  border-style: groove;
  margin-top: -25px;
  margin-left: -25px;
  border-top-style: hidden;
  background: rgb(245, 247, 247);
  height: 150px;
}
.admin {
  display: flex;
  width: 51rem;
  border-style: groove;
  margin-top: -25px;
  margin-left: -25px;
  border-top-style: hidden;
  background: rgb(245, 247, 247);
  height: 150px;
}
.report {
  width: 150px;
  margin-left: 30px;
}
.report-divider {
  border-left-style: groove;
}

.contenu hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 0px;
}
.contenu p {
  width: 50%;
  height: 50%;
}
.active-contenu {
  display: block;
}
.changepassword {
  margin-left: 30px;
}
.invoice {
  margin-left: 30px;
}
.logout {
  margin-left: 30px;
}
.customer {
  margin-left: 30px;
}
.user {
  margin-left: 300px;
  margin-top: -30px;
}
.main {
  margin-left: 300px;
  margin-top: 18px;
}
.others {
  margin-left: 80px;
  margin-top: -5px;
}
.visitor-home {
  margin-left: 300px;
  margin-top: -30px;
}
.select {
  margin-left: 10px;
  margin-top: -30px;
}
